-- AlterTable
ALTER TABLE "ChatSession" ADD COLUMN     "subjectId" UUID;

-- AlterTable
ALTER TABLE "GamificationProfile" DROP COLUMN "xp",
ADD COLUMN     "lifetimeXp" INTEGER NOT NULL DEFAULT 0,
ADD COLUMN     "spendableXp" INTEGER NOT NULL DEFAULT 0;

-- AlterTable
ALTER TABLE "ParentStudentLink" ADD COLUMN     "expiresAt" TIMESTAMP(3);

-- AlterTable
ALTER TABLE "Quiz" ADD COLUMN     "status" TEXT NOT NULL DEFAULT 'DRAFT';

-- AlterTable
ALTER TABLE "Transaction" ALTER COLUMN "amount" SET DATA TYPE DECIMAL(65,30);

-- AlterTable
ALTER TABLE "User" ADD COLUMN     "linkExpiresAt" TIMESTAMP(3);

-- AddForeignKey
ALTER TABLE "ChatSession" ADD CONSTRAINT "ChatSession_subjectId_fkey" FOREIGN KEY ("subjectId") REFERENCES "Subject"("id") ON DELETE SET NULL ON UPDATE CASCADE;

